.main-chat 
  .main-header
    .main-header__left-content
      .main-header__left-content__user-group
        %p ACE
      .main-header__left-content__member
        %p Member :
    .main-header__edit 
      = link_to "＃", class: "main-header__edit__btn__edit" do
        Edit

  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .new_message
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__new_message__inputbox__image
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'new_message__inputbox__send-btn  '