.main-chat 
  .main-header
    .main-header__left-content
      .main-header__left-content__user-group
        %p ACE
      .main-header__left-content__member
        %p Member :
    .main-header__edit 
      = link_to "＃", class: "main-header__edit__btn__edit" do
        Edit

  .messages
    = render @messages
    .messages__message
      .messages__message__info
        .messages__message__info__user-name
          = message.user.name
        .messages__message__info__date
          = message.created_at.strftime("%Y/%m/%d %H:%M")
      .messages__message__text      
        - if message.content.present?
          %p.messages__message__text__content
            = message.content
        = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
        
  form
    .form__new-message
      = form_for [@group, @message] do |f|
        = f.form__new-message__inputbox, class: 'new-message', placeholder: "type a message"
        .form__new-message__inputbox__image
          = f.label :image, :class: 'form__new-message__inputbox__image__btn' do
            = icon('fas', 'image')
            f.form__new-message__inputbox__file :image, class: 'file'
        .form__new-message__inputbox__send-btn
          = f.submit 'Send', class: 'form__new-message__inputbox__send-btn__send'
           

 